<div>
  <div class="title">
    <mat-card class="example-card">
      <mat-card-title>
        <h1><br> <b>App Proyecto Programación de Bases de Datos (PBD APP)</b> <br></h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>Autor: Yohan Eduardo Caro P.</h3>
        <h3>Materia: Programación en Bases de Datos</h3>
      </mat-card-subtitle>
      <mat-card-content>

        <mat-card class="example-card">
          <mat-card-title><h3><b>Documentación</b></h3></mat-card-title>
          <mat-list>
            <mat-list-item>
              <mat-icon matListItemIcon>folder</mat-icon>
              <div matListItemTitle>
                <h4>El informe del aplicativo lo puede encontrar en
                  <a href="https://drive.google.com/uc?export=download&id=1N1MX8DnDtNyFXp4MEfkqNLVWoCoghynf"><mat-icon>description</mat-icon></a></h4>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListItemIcon>folder</mat-icon>
              <div matListItemTitle>
                <h4>El repositorio del frontend del aplicativo lo puede encontrar en
                  <a href="https://github.com/YohanCaro/Project-PBD-Frontend"><mat-icon>open_in_browser</mat-icon></a></h4>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListItemIcon>folder</mat-icon>
              <div matListItemTitle>
                <h4>El repositorio del backend del aplicativo lo puede encontrar en
                  <a href="https://github.com/YohanCaro/Project-PBD-Backend"><mat-icon>open_in_browser</mat-icon></a>
                </h4>
              </div>
            </mat-list-item>
          </mat-list>

        </mat-card>

      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="tables-card">
    <mat-card-header>
      <mat-card-title>Pestaña 'Tablas'</mat-card-title>
      <mat-card-subtitle><mat-divider></mat-divider></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p> En la pestaña "Tablas" se encuentran todas las tablas de la base de datos DATA SIA,
        incluyendo la de todos los usuarios.<br> Allí se puede observar cada una, seleccionando
        en el select la tabla que desea observar.
        También puede buscar el dato que desee con el filtro.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="queries-card">
    <mat-card-header>
      <mat-card-title>Pestaña 'Consultas'</mat-card-title>
      <mat-card-subtitle><mat-divider></mat-divider></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>En la pestaña "Consultas" se encuentran las 10 consultas que se realizaron. Estas cuentan con su
        título, una descripción de cómo usar un filtro para cada consulta y una tabla donde se visualiza
        el resultado de la consulta.
        También se puede exportar el resultado de la consulta y la consultafiltrada con los botones al
        final. (Puede ser en .XLSX o .CSV)</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="reports-card">
    <mat-card-header>
      <mat-card-title>Pestaña 'Reportes'</mat-card-title>
      <mat-card-subtitle><mat-divider></mat-divider></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>En esta última pestaña se encuentran las consultas con sus respectivas gráficas y tablas.</p>
    </mat-card-content>
  </mat-card>

  <footer style="background-color: #ffffff;" class="p-3">
    <p class="text-center">Yohan Caro &copy; 2024 - Todos los derechos reservados</p>
  </footer>
</div>
