<div class="body">

  <mat-toolbar color="warn">
    <p><button mat-button class="bt-menu" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button></p>
    <span>PBD APP</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container class="example-container" color="primary">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                (closed)="events.push('close!')">
      <mat-nav-list class="list-nav">
        <a mat-list-item routerLink="../home" routerLinkActive="list-item-active">
          <mat-icon color="warn">home</mat-icon>Inicio</a>
        <a mat-list-item routerLink="../tables" >
          <mat-icon color="warn">tables</mat-icon>Tablas </a>
        <a mat-list-item routerLink="../search" routerLinkActive="list-item-active">
          <mat-icon color="warn">search</mat-icon>Consultas</a>
        <a mat-list-item routerLink="../reports" routerLinkActive="list-item-active">
          <mat-icon color="warn">reports</mat-icon>Reportes</a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content color="primary">

      <router-outlet ></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>




