mat-nav-list{
  width: 250px;
  overflow: hidden;

}

.mat-icon{
  vertical-align: center;
}

h3{
  text-align: center;
}

mat-toolbar{
  position: sticky;
  top: 0;
  z-index: 100;
  background: #d3d3d3;
}

button{
    border: 0;
    outline: none;
    background: transparent;
}
